
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 79 255 / 66%);
  overflow: hidden;
}

#my-todo-title {
  margin-bottom: 60px;
  font-size: 40px;
  font-family:"Handlee", cursive ;
}

main {
  max-height: 70%;
  min-width: 290px;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 15px 15px #888;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 2%;
  margin-bottom: 70px;
}

.autorenew,
.return {
  color: #888;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  background: white;
  border-bottom: #888 1px solid;
}

.h-title {
  font-family: cursive;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: #888 1px solid;
}

.input-form {
  border: none;
  font-style: italic;
  width: 90%;
}

.input-form[type='text'] {
  font-size: 18px;
  font-family: 'Handlee', serif;
}

.input-form:focus {
  border: none;
  outline: none;
}

.submit {
  border: none;
  background-color: white;
  cursor: pointer;
}

.clear {
  border: none;
  width: 100%;
  padding: 14px;
  justify-self: flex-end;
}

.clear:hover {
  text-decoration: underline;
  font-weight: 600;
  background-color: skyblue;
}

.tasks {
  min-height: 150px;
  padding: 0 12px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  padding: 5px 0px;
}

.input-list {
  flex: 1;
  border: none;
}

.input-list[type='text']{
  font-size: 18px;
  font-family: 'Handlee', serif;
}

.input-list:focus {
  border: none;
  outline: none;
}

.delete {
  display: none;
  margin-right: 4px;
}

.dots {
  cursor: pointer;
  padding-right: 4px;
  color: #888;
}

.deletedot {
  display: none;
}

.check:checked + .input-list {
  text-decoration: line-through;
  color: rgb(19, 19, 200);
}

.dragging {
  background-color:#c6c8cb;
  opacity: .5;
}